{% extends 'base.html.twig' %}
{% block title %}Symphart Category {% endblock %}

{% block body %}
<h1>{{category.name}}</h1>
<p>{{category.description}}</p>
<hr><a href="/category">Go Back</a></hr>
{% endblock %}