{% extends 'base.html.twig' %}
{% block title %}Symphart Article {% endblock %}

{% block body %}
<h1>{{article.title}}</h1>
<p>{{article.body}}</p>
<hr><a href="/show">Go Back</a></hr>
{% endblock %}